@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<link href="@{'%cdn'}/spa.min@19.css" rel="stylesheet" />
	<script src="@{'%cdn'}/spa.min@19.js"></script>
	<script src="@{REPO.ui}"></script>
	@{import('meta', 'head', 'default.js + func.js', 'default.css', 'favicon.ico')}
</head>
<body class="invisible">

	<ui-component name="exec"></ui-component>
	<ui-component name="errorhandler"></ui-component>
	<ui-component name="locale" config="requests:1;language:@{language}"></ui-component>
	<ui-component name="imageviewer" config="unknown:@(Unknown image)"></ui-component>
	<ui-component name="datepicker" config="today:@(Today);days:@(Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday);clear:@(Clear);months:@(January,February,March,April,May,Juny,July,August,September,October,November,December)"></ui-component>

	<ui-component name="LAZY icons"></ui-component>
	<ui-component name="LAZY directory" config="placeholder:@(Search);create:@(Create)"></ui-component>
	<ui-component name="LAZY menu" config="style:2"></ui-component>
	<ui-component name="LAZY message"></ui-component>
	<ui-component name="LAZY colorpicker"></ui-component>
	<ui-component name="LAZY notify" config="position:bottom right"></ui-component>
	<ui-component name="LAZY approve"></ui-component>
	<ui-component name="LAZY floatingbox"></ui-component>
	<ui-component name="LAZY filebrowser"></ui-component>
	<ui-component name="LAZY fileuploader"></ui-component>
	<ui-component name="LAZY features"></ui-component>
	<ui-component name="LAZY spotlight"></ui-component>
	<ui-component name="LAZY clipboard"></ui-component>
	<ui-component name="LAZY prompt" config="cancel:@(Cancel);submit:@(OK);zindex:200"></ui-component>

	<ui-component name="edit"></ui-component>
	<ui-component name="shortcuts"></ui-component>
	<ui-component name="loading" class="hidden"></ui-component>
	<ui-component name="dropfiles" config="exec:common/dropfiles;check:common/dropcheck" class="hidden">@(Drag &amp; Drop files here)</ui-component>

	<header>
		<a href="/" title="@(Website)" target="_blank"><i class="ti ti-globe"></i></a>
		<ui-component name="breadcrumb" path="common.breadcrumb" config="$assign:BREADCRUMB;style:2;root:@(Home);icon:ti ti-home;rooturl:/admin/;title:@{'%name'}" class="invisible">
			<ui-component name="virtualwire" path="common.page" class="toolbar" style="float:right"></ui-component>
		</ui-component>
	</header>

	<ui-component name="navlayout" path="?.menu" config="parent:window;width:200" class="invisible">
		<section>
			<ui-component name="aselected" path="common.page" config="selector:div.item;attr:data-url">
				<ui-component name="viewbox" path="common.page" config="parent:window;margin:60">
					<div class="nav">
						<ui-bind path="common.plugins" config="template" class="block">
							<script type="text/html">
								<nav>
								{{ foreach m in value }}
									{{ if !m.hidden }}
									<div data-url="{{ m.url }}" class="item hellip exec{{ if m.class }} {{ m.class }}{{ fi }}" data-if="{{ m.id }}" data-exec="common/redirect"><i class="{{ m.icon }}"></i>{{ m.name }}</div>
									{{ fi }}
								{{ end }}
								</nav>
							</script>
						</ui-bind>
					</div>
				</ui-component>
			</ui-component>
		</section>

		<main>
			<ui-bind path="common.plugins" config="template" class="block">
				<script type="text/html">
					{{ foreach m in value }}
						{{ if !m.hidden }}
						<ui-component name="page" path="common.page" config="if:plugin{{ m.id }};url:/_{{ m.id }}/index.html;reload:?/reload;hidden:?/hide;id:_{{ m.id }}" class="hidden invisible"></ui-component>
						{{ if m.routes }}
							{{ foreach route in m.routes }}
							<ui-component name="page" path="common.page" config="if:plugin{{ m.id }}{{ route.html }};url:/_{{ m.id }}/{{ route.html }}.html;reload:?/reload;hidden:?/hide;id:_{{ m.id }}" class="hidden invisible"></ui-component>
							{{ end }}
						{{ fi }}
					{{ fi }}
					{{ end }}
				</script>
			</ui-bind>
			<ui-component name="page" path="common.page" config="if:welcome;url:@{#}/pages/index.html;reload:?/reload" class="hidden"></ui-component>
			<ui-component name="page" path="common.page" config="if:editor;url:@{#}/pages/editor.html;reload:?/reload" class="hidden"></ui-component>
		</main>
	</ui-component>

	<ui-component name="importer" path="common.form2" config="if:formcode;url:/forms/code.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formwidgets;url:/_widgets/form.html"></ui-component>
	<ui-component name="importer" path="common.form3" config="if:formfiles;url:/_files/list.html"></ui-component>

	@{json(model, 'pluginsdata')}

	@{if user.iframe}
	<script src="@{user.iframe}"></script>
	@{fi}

	<script>

		ENVIRONMENT('cms');

		var user = null;
		var common = {};

		common.breadcrumb = [];
		common.clientid = GUID(5) + Date.now().toString(36);
		common.name = document.title;
		common.openplatform = NAV.query.openplatform || '';
		common.plugins = PARSE('#pluginsdata');
		common.api = common.root = '@{CONF.$api}';
		common.redirect = REDIRECT;
		ENV('margin', 60);

		DEF.fallback = '@{#}/cdn/j-{0}.html';
		DEF.versionhtml = '@{CONF.version}';
		DEF.languagehtml = '@{user.language}';

		// Injects Token to every API request
		(function() {
			var openplatform = NAV.query.openplatform || '';
			if (openplatform) {
				var hostname = openplatform.substring(0, openplatform.indexOf('/', 10));
				openplatform = '?openplatform=' + encodeURIComponent(openplatform);
			} else
				common.ready = true;
			DEF.api = common.api + openplatform;
			common.openplatform = openplatform;
			$('body').rclass('invisible', 200);
		})();

		NAV.clientside('.jR');

		if (W.top !== W && common.openplatform)
			NAV.custom();

		REDIRECT = function(url) {
			if (url.charAt(0) !== '.' && url.substring(0, common.root.length) !== common.root)
				url = common.root + url.substring(1);
			common.redirect(url);
		};

		// A simple integration for navigation
		W.APP_INIT = function() {

			common.ready = true;
			APP.on('init', function() {

				var ready = false;

				ON('location', function(url) {
					if (url === '/' && !ready)
						ready = true;
					else
						APP.path(url);
				});
			});

			APP.on('path', function(path) {
				if (NAV.url !== path)
					REDIRECT(path);
			});

		};

		PLUGIN('common', function(exports) {

			var model = exports.model;

			(function() {
				model.plugins.quicksort('position');
				model.plugins.forEach(function(plugin) {
					plugin.url = model.root + plugin.id + '/';
					if (!plugin.hidden) {
						ROUTE(plugin.url, () => exports.set('page', 'plugin' + plugin.id), 'init');
						plugin.routes && plugin.routes.forEach(item => ROUTE('@{#}' + item.url, () => exports.set('page', 'plugin' + plugin.id + item.html), 'init'));
					}
					plugin.import && $(document.body).append('<ui-import config="url:{0};id:_{1}"></ui-import>'.format('@{#}/_' + plugin.id + '/' + plugin.import, plugin.id));
				});
			})();

			exports.refresh = function() {
				TAPI('account', 'user');
			};

			exports.redirect = function(el) {
				REDIRECT(el.attrd('url'));
			};

			exports.navigation = function(el) {
				REDIRECT('/');
			};

			exports.dropfiles = function(e) {
				var plugin = model.form3 || model.form2 || model.form || model.page;
				var tmp = PLUGINS[plugin];
				if (tmp && tmp.dropfiles)
					tmp.dropfiles(e);
			};

			exports.dropcheck = function(e) {

				if (model.form3 === 'formfiles' || model.page === 'pluginfiles')
					return true;

				var plugin = model.form3 || model.form2 || model.form || model.page;
				var tmp;

				if (plugin) {
					tmp = PLUGINS[plugin];
					if (tmp && tmp.dropcheck)
						return tmp.dropcheck(e);
				}

				return false;
			};

			exports.logout = function() {
				exports.ajax('GET @{#}{0}logout/ ERROR'.format(model.root), () => location.href = model.root);
			};

			ON('service', function(counter) {
				if (counter % 5 === 0)
					exports.refresh();
			});

			ON('ready', exports.refresh);

		});

		MIDDLEWARE('init', function(next) {
			WAIT(() => common.ready && W.user && common.breadcrumb && W.BREADCRUMB, next, null, 60000);
		});

		ROUTE('/', function() {
			REDIRECT(common.root);
		}, 'init');

		ROUTE(common.root, function() {
			BREADCRUMB.add();
			SET('common.page', 'welcome');
		}, 'init');

		ON('@flag diff', function(path, value) {
			FUNC.diff(path, value, 'id');
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

		CLINIT('links', function(next) {
			TAPI('pages_links', response => next(FUNC.sitemap(response)));
		}, true);

		CLINIT('nav', function(next) {
			TAPI('nav_editor', next);
		}, true);

	</script>

</body>
</html>
