@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<link href="@{'%cdn'}/spa.min@19.css" rel="stylesheet" />
	<script src="@{'%cdn'}/spa.min@19.js"></script>
	<script src="@{REPO.ui}"></script>
	@{import('meta', 'head', 'default.js + func.js', 'default.css', 'favicon.ico')}
</head>
<body>

	<ui-component name="exec"></ui-component>
	<ui-component name="errorhandler"></ui-component>
	<ui-component name="icons"></ui-component>
	<ui-component name="locale"></ui-component>

	<ui-component name="LAZY datepicker"></ui-component>
	<ui-component name="LAZY directory" config="placeholder:@(Search)"></ui-component>
	<ui-component name="LAZY menu" config="style:2"></ui-component>
	<ui-component name="LAZY message"></ui-component>
	<ui-component name="LAZY colorpicker"></ui-component>
	<ui-component name="LAZY notifybar"></ui-component>
	<ui-component name="LAZY approve"></ui-component>
	<ui-component name="LAZY floatingbox"></ui-component>
	<ui-component name="LAZY filebrowser"></ui-component>
	<ui-component name="LAZY fileuploader"></ui-component>
	<ui-component name="LAZY features"></ui-component>
	<ui-component name="LAZY spotlight"></ui-component>

	<ui-component name="shortcuts"></ui-component>
	<ui-component name="loading" config="style:2" class="hidden"></ui-component>
	<ui-component name="dropfiles" config="exec:common/dropfiles;check:common/dropcheck" class="hidden">@(Drag &amp; Drop files here)</ui-component>

	<header>
		<a href="/" title="@(Website)" target="_blank"><i class="ti ti-globe"></i></a>
		<ui-component name="breadcrumb" path="common.breadcrumb" config="$assign:BREADCRUMB;style:2;root:@(Home);icon:ti ti-home" class="invisible">
			<ui-component name="virtualwire" path="common.page" class="toolbar" style="float:right"></ui-component>
		</ui-component>
	</header>

	<ui-component name="navlayout" path="?.menu" config="parent:window;width:200" class="invisible">
		<section>
			<ui-component name="aselected" path="common.page" config="selector:div.item;attr:data-url">
				<ui-component name="viewbox" path="common.page" config="parent:window;margin:60">
					<div class="nav">
						<ui-bind path="common.plugins" config="template" class="block">
							<script type="text/html">
								<nav>
								{{ foreach m in value }}
									{{ if !m.hidden }}
									<div data-url="{{ m.url }}" class="item hellip exec{{ if m.class }} {{ m.class }}{{ fi }}" data-if="{{ m.id }}" data-exec="common/redirect"><i class="{{ m.icon }}"></i>{{ m.name }}</div>
									{{ fi }}
								{{ end }}
								</nav>
							</script>
						</ui-bind>
					</div>
				</ui-component>
			</ui-component>
		</section>

		<main>
			<div class="parts" id="mainparts">
				@{foreach m in model}
				<ui-component name="part" path="common.page" config="if:plugin@{m.id};url:@{#}/_@{m.id}/index.html;id:_@{m.id}" class="hidden" data-pname="@{m.name}" data-pid="@{m.id}" data-picon="@{m.icon}" data-pimport="@{m.import}"  data-pposition="@{m.position}"></ui-component>
				@{end}
			</div>
			<ui-component name="part" path="common.page" config="if:mainplugins;url:@{#}/parts/index.html;reload:?/reload" class="hidden"></ui-component>
			<ui-component name="part" path="common.page" config="if:editor;url:@{#}/parts/editor.html;reload:?/reload" class="hidden"></ui-component>
		</main>
	</ui-component>

	<ui-component name="importer" path="common.form" config="if:codeform;url:/forms/code.html"></ui-component>
	<ui-component name="importer" path="common.form" config="if:passwordform;url:/forms/password.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:filesform;url:/_files/list.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:widgetsform;url:/_widgets/form.html"></ui-component>

	<script>

		DEBUG();
		ENVIRONMENT('cms');

		var user = null;
		var common = {};

		common.breadcrumb = [];
		common.openplatform = NAV.query.openplatform || '';

		if (common.openplatform) {
			(function() {
				var hostname = common.openplatform.substring(0, common.openplatform.indexOf('/', 10));
				hostname && IMPORT(hostname + '/iframe.js');
				common.openplatform = '?openplatform=' + encodeURIComponent(common.openplatform);
			})();
		}

		NAV.clientside('.jR');
		NAV.custom();

		W.APP_INIT = function() {
			APP.on('init', function() {

				var ready = false;

				ON('location', function(url) {
					if (url === '/' && !ready)
						ready = true;
					else
						APP.path(url);
				});
			});

			APP.on('path', function(path) {
				if (NAV.url !== path)
					REDIRECT(path);
			});
		};

		(function() {
			DEF.api = '/admin/' + common.openplatform;
			enterprise.init(DEF.api);
		})();

		Thelpers.selection = function(id) {
			return '<span class="selection" data-id="{0}"><i class="ti ti-check"></i></span>'.format(id);
		};

		PLUGIN('common', function(exports) {

			var plugins = [];

			(function() {
				var nodes = $('#mainparts').find('> ui-component').toArray();
				nodes.wait(function(node, next) {
					var el = $(node);
					var obj = {};
					obj.id = el.attrd('pid');
					obj.name = el.attrd('pname');
					obj.icon = el.attrd('picon');
					obj.import = el.attrd('pimport');
					obj.position = +el.attrd('pposition');
					obj.url = '/admin/' + obj.id + '/';
					obj.import && IMPORT(obj.import);
					plugins.push(obj);

					ROUTE(obj.url, function() {
						SET('common.page', 'plugin' + obj.id);
						EXEC(true, 'plugin{0}/init'.format(obj.id));
					}, 'breadcrumb');

					next();

				}, function() {
					plugins.quicksort('position');
					exports.set('plugins', plugins);
				});

			})();

			exports.password = function() {
				exports.tapi('auth ERROR', function(response) {
					SET('passwordform @reset', response);
					exports.set('form', 'passwordform');
				});
			};

			exports.redirect = function(el) {
				REDIRECT(el.attrd('url'));
			};

			exports.navigation = function(el) {
				REDIRECT('/');
			};

			exports.dropfiles = function(e) {
				if (common.form2)
					EXEC(common.form2 + '/dropfiles', e);
				else if (common.form)
					EXEC(common.form + '/dropfiles', e);
				else if (common.page)
					EXEC(common.page + '/dropfiles', e);
			};

			exports.dropcheck = function(e) {
				if (common.form === 'filesform' || common.page === 'pluginfiles' || common.page === 'postform')
					return true;
				return false;
			};

			exports.logout = function() {
				exports.ajax('GET @{#}/admin/logout/ ERROR', () => location.href = '/admin/');
			};
		});

		TAPI('account', 'user');

		MIDDLEWARE('breadcrumb', function(next) {
			WAIT(function() {
				return W.user && common.breadcrumb && W.BREADCRUMB;
			}, next);
		});

		ROUTE('/', function() {
			BREADCRUMB.add();
			SET('common.page', 'mainplugins');
		}, 'breadcrumb');

		ON('@flag diff', function(path, value) {
			FUNC.diff(path, value, 'id');
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

	</script>

</body>
</html>