<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 m">

		<div data-jc="visible" data-jc-path="form.response" data-if="value && value.success === true" class="hidden">
			<div class="message-success"><span class="fa fa-check-circle"></span>@(Thanks, the contact form has been sent successfully.)</div>
			<br />
		</div>

		<div data-jc="visible" data-jc-path="form.response" data-if="!value || !value.success">
			<div class="row">
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="form.firstname" data-required="true" data-jc-value="''">@(First name)</div>
				</div>
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="form.lastname" data-required="true" data-jc-value="''">@(Last name)</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="form.email" data-required="true" data-jc-type="email" data-jc-value="'@'">@(Email address)</div>
				</div>
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="form.phone" data-jc-value="''">@(Phone number)</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-12 m">
					<div data-jc="textarea" data-jc-path="form.body" data-required="true" data-height="100px" data-jc-value="''">@(Message)</div>
				</div>
			</div>
			<div data-jc="error" data-jc-path="form.response"></div>
			<br />
			<div class="row">
				<div class="col-md-6">
					<div data-jc="validation" data-jc-path="form">
						<button class="button exec" disabled="disabled" data-jexec="#submit">@(SUBMIT FORM)</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var form = {};
	OPERATION('submit', function() {
		AJAX('POST /api/contact/', form, 'form.response');
	});
</script>