<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@16.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700" />
	<link rel="stylesheet" href="@{global.css}" />
	<script src="//cdn.componentator.com/spa.min@16.js"></script>
	@{import('meta', 'default.css', 'default.js', 'favicon.ico', 'head')}
</head>
<body data-jc="exec">

	<div data-jc="loading" class="hidden"></div>

	<header>
		<div class="container">
			<div class="row">
				<div class="mainmenubutton">
					<button id="mainmenubutton"><i class="fa fa-navicon"></i></button>
				</div>
				<a href="/" class="logo"><img src="@{'logo.png'}" border="0" class="img-responsive" /></a>
				<nav>
					@{foreach m in global.navigations.mainmenu.children}
						<a href="@{m.url}"@{if m.contains(url)} class="selected"@{fi}>@{if m.icon}<i class="@{m.icon}"></i>@{fi}@{m.name}</a>
					@{end}
				</nav>
			</div>
		</div>
	</header>

	<div class="container@{if repository.fluid}-fluid@{fi}">
		<ul class="breadcrumb">
			@{foreach m in sitemap()}
				<li><a href="@{m.url}">@{if index === 0}<i class="fa fa-home"></i>@{fi}@{m.name}</a></li>
			@{end}
		</ul>
		@{body}
	</div>

	<footer>
		<nav>
		@{foreach m in global.navigations.mainmenu.children}
			<a href="@{m.url}">@{m.name}</a>
		@{end}
		</nav>
		<div>@(All rights reserved &copy; 2018)</div>
	</footer>


	<script src="@{global.js}"></script>

</body>
</html>
